@font-face {
    font-family: 'worksans';
    src: url('static/WorkSans-Regular.ttf') format('truetype');
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    font-family: 'worksans', sans-serif;
}
html 
{
    font-size: 62.5%;
    overflow-x: hidden;
}
section
{
    padding: 20px 9%;
}
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px;
    z-index: 1000;
    width: 100%;
}
header .logo
{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.logo span{
    color: rgb(190, 18, 18);
}
.logo:hover
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(190, 18, 18);
}


/* navigation */
 .navbar a{
    font-size: 20px;
    padding: 0 15px;
    color: #fff;
}
 .navbar a:hover 
{
    color: rgb(190, 18, 18);
    transition: .2s linear;
}
.icons a
{
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
}
 .icons  a:hover
{
   color: rgb(190, 18, 18);
   transition: .2s linear;
}


/* menu */
header #toggler 
{
    display: none;
}
header .fa-bars 
{
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
    display: none;
}

/* home */
.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.home .content {
    max-width: 50rem;
}
.home .content h3 
{
    font-size: 4rem;
    color: #fff;
}
.home .content span{
    font-size: 20px;
    color: rgb(190, 18, 18);
    padding: 10px 0;
    line-height: 1.5;
}
 h6 
{
    font-size: 40px;
    overflow: hidden;
    border-right: 2px solid #000;
    color: #fff;
    animation: typing 3s steps(10, end), repeat 0.5s step-end infinite alternate , erase  3s steps(10, end)  forwards;
}

@keyframes erase {
    from { width: 10ch; }
    to { width: 0; }
 }
@keyframes typing {
    from { width: 0; }
    to { width: 10ch; }
 }
@keyframes repeat {
    from { border-color: black; }
    to { border-color: black; }
}
h6 {
  animation-delay: 0s, 0s, 100000s;
  animation-iteration-count: infinite, infinite, infinite;
}
.home .content p{
    font-size: 17px;
    color: #fff;
    padding: 10px 0;
    line-height: 1.5;
}
.home .content .btn {
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(190, 18, 18);
    box-shadow:  0 0 10px rgb(190, 18, 18);
    color: #fff;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 17px;
}
.home .content .btn:hover{
    background: #fff;
    color: #000;
    box-shadow: 0 0 10px #fff;
}

.home .rectangle {
    width: 90px;
    height: 420px;
    background-color: rgb(190, 18, 18);
    margin-left: 120px;
    margin-bottom: 170px;
}
.home .rectangle1 {
    width: 90px;
    height: 330px;
    background-color: rgb(190, 18, 18);
    margin-left: 180px;
    margin-bottom: -320px;
}
.home .angle 
{
    margin-left: 117px;
}
.home .angle1
{
    margin-left: 47px;
}
.home .air {
    transform: rotate(-16deg);
    margin-left: 115%;
    margin-top: -100%;
}

/* about */
.about 
{
    background: #fff;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 5%;
}
.about .container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.about .container .content p, h5 
{
   font-size: 17px;
   font-weight: 400;
}
.about .container .content p{
    margin-bottom: 20px;
}
.plus 
{
    display: inline-block;
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
    background: #000;
    color: rgb(190, 18, 18);
    margin-top: 20px;
}
 .plus:hover
{
    background: rgb(190, 18, 18);
    color: #fff;
    box-shadow:  0 0 10px rgb(190, 18, 18);
}
.about  h3, h1
{
   color: rgb(190, 18, 18);
}
.about h1
{
    margin-left: 45%;
}
.about .style
{
    font-size: 40px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(190, 18, 18);
    text-transform: capitalize;
    letter-spacing: 2px;
    animation: fade 1.5s ease-in-out infinite alternate;
    backdrop-filter: blur(30px);
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.about .style b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
}


/* produits  */
.icons-container {
    background: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.icons-container .icons {
    background: #fff;
    color: #fff;
    border: 5px solid rgb(107, 106, 106);
    padding: 20px;
    display: flex;
    align-items: center;
    flex: 1 1 100px;
    cursor: pointer;
}
.icons-container .icons img 
{
    margin-right: 20px;
}
.icons-container .icons h3{
    color: black;
    padding-bottom: 5px;
    font-size: 15px;
}
.icons-container .icons span{
    color: black;
   font-size: 13px;
}
.icons-container .icons:hover 
{
    background: rgb(190, 18, 18);
}


/* produits */
.products
{
    background: #fff;
}
.products .box .icons a{
    color: #000;
    font-size: 20px;
}
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.products .box-container .box{
    position: relative;
    flex: 1 1 300px;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.products .box-container  .box .discount{
   top: 10px;
   left: 10px;
   padding: 4px 18px;
   font-size: 20px;
   color: rgb(190, 18, 18);
   background-color: #000;
   z-index: 1;
   border-radius: 5px;
   clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0% 100%, 0% 50%, 0 0);
}
.products .box-container  .box .image1{
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container  .box:hover .image1 img{
    transform: scale(1.1);
}
.products .box-container  .box .image1 .icons  {
    bottom: -70px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 50px;
    background: rgb(190, 18, 18);
    width: 100%;
    position: relative;
}
.products .box-container  .box:hover .image1 .icons{
    bottom: 0;
}
.products .box-container  .box .image1 .icons a{
   line-height: 50px;
   color: #fff;
}
.products .box-container  .box .image1 .icons .cart-btn{
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.products .box-container  .box .image1 .icons a{
    margin-right: 5px;
}
.products .box-container  .box .image1 .icons a:hover{
    color: #000;
}
.products .box-container  .box .content {
    padding: 20px;
    text-align: center;
}
.products .box-container  .box .content h3{
    font-size: 20px;
    color: #000;
}
.products .box-container  .box .content .price{
    font-size: 20px;
    color: rgb(190, 18, 18);
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container  .box .content .price span{
    font-size: 10px;
    color: rgb(14, 11, 11);
    font-weight: lighter;
    text-decoration: line-through;
}
.products h1
{
    font-size: 25px;
    margin-left: 38%;
    margin-bottom: 20px;
}
.products .box-container .box .icons .cart-btn {
    font-size: 15px;
}
.other {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1%;
}
.other a{
   padding: 10px 20px 10px 20px;
   border: none;
   border-radius: 10px;
   background: #000;
   color: rgb(190, 18, 18);
   font-size: 18px;
}
.other a:hover{
    color: #fff;
    background: rgb(190, 18, 18);
    border: none;
    box-shadow:  0 0 15px rgb(190, 18, 18);
}
.other a:visited{
    color: #fff;
    background: rgb(190, 18, 18);
    border: none;
    box-shadow:  0 0 15px rgb(190, 18, 18);
}



/* review */
.review
{
    background: #000;
    font-size: 15px;  
    padding-bottom: 9%;
}
.review h1 span
{
    color: #fff;
}
.review h1{
    margin-left: 42%;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5%;
}
.review .box-container .box{
    flex: 1 1 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 20px;
    position: relative;
    cursor: pointer;
}
.review .box-container .box .fa-feather{
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    position: absolute;
}
.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.review .box-container .box .stars i{
    color: rgb(190, 18, 18);
    font-size: 15px;
}
.review .box-container .box p{
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    padding-top: 20px;
}
.review .box-container .box .user img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
.review .box-container .box .user h3{
    font-size: 20px;
    color: #000;
    margin-left: 10%;
}
.review .box-container .box .user  .user-info span{
    margin-left: 10%;
}
.review .box-container .box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #fff;
}


/* contact */
.contact{
    background: #fff;
}
.contact .heading
{
    font-size: 20px;
    margin-left: 42%;
}
.contact .box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5%;
}
.contact .box-container .info-list  .info{
    list-style-type: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    cursor: pointer;
}
.contact .box-container .info-list  .info i{
    font-size: 25px;
}
.contact .box-container .info-list  .info p:hover {
color: rgb(190, 18, 18);
}
.contact .box-container .info-list  .info i:hover {
    color: rgb(190, 18, 18);
}
.contact .box-container .form-input {
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    margin-bottom: 16px;
    padding: 12px 0;
    outline: none;
    border-radius: 15px;
}
.contact .box-container .form-input textarea{
    padding-left: 2%;
    padding: 12px;
    resize: none;
}
.contact .box-container .contact-form button{
    padding: 10px 20px 10px 20px;
    color: rgb(190, 18, 18);
    background: black;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.contact .box-container .contact-form button:hover{
    color: #fff;
    background: rgb(190, 18, 18);
    box-shadow: 0 0 10px rgb(190, 18, 18);
    border: 1px solid rgb(190, 18, 18);
}
.contact .box-container .contact-form input{
    padding-left: 2%;
}
.contact .box-container .contact-form textarea{
    padding-left: 2%;
    height: 20vh;
    resize: none;
}


/* footer */
.footer
{
    background: #eee;
    padding-top: 3%;
}
.footer .container
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.footer .container .list{
    flex:1 1 300px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.footer .container .list h3{
    color: rgb(190, 18, 18);
    font-size: 18px;
}
.footer .container .list a{
    color: #000;
    font-size: 15px;
    display: block;
    padding: 5px 0;
}
.footer .container .list a:hover{
    color: rgb(190, 18, 18);
    text-decoration: underline;
    transition: 1.5s;
}
.footer .container .list .help{
    margin-right: 5%;
}
.footer .foot {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.footer .foot a{
    font-size: 14px;
}
.footer .foot a:hover{
    color: rgb(190, 18, 18);
}
hr{
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
}

/* responsive */
@media (max-width:1134px) {
    .air, .rectangle, .rectangle1{
        display: none;
    }
    .home{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/télécharger.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
}
@media (max-width:1240px) {
    .contact .box-container{
        align-items: center;
        flex-direction: column-reverse;
    }
}
@media (max-width:991px) {
    html 
    {
        font-size: 60%;
    }
    header {
        padding: 2rem;
    }
    section 
    {
        padding: 2rem;
    }
}
@media (max-width:910px) {
    .about .container {
        display: grid;
        justify-content: space-between;
    }
    .about .container .image {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
}
@media (max-width:819px) {
   
    html .fa-bars{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        align-items: center;
        text-align: center;
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-top: 2px solid #fff;
    }
    #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .navbar a 
    {
        margin: 10px;
        padding: 10px;
        display: block;
        background: #fff;
        color: #000;
    }
    html{
        font-size: 60%;
    }
   
    .about h1{
        margin-left: 15px;
    }
    .about h2 
    {
        margin-left: 20%;
    }
    .products h1 
    {
        margin-left: 15px;
    }
    .review h1
    {
        margin-left: 5%;
    }
    .contact .heading
    {
        margin-left: 5%;
    }
    .air {
        display: none;
    }
    .contact .box-container{
        align-items: center;
        flex-direction: column-reverse;
    }
}
@media (max-width:500px) {
    .home{
        background: #000;
    }
}
@media (max-width:450px) {
    html {
        font-size: 60%;
    }
    .head .logo
    {
        font-size: 22px;
        margin-top: 5px;
    }
}
@media (max-width:410px) {
    .about .container .image img{
        height: 300px;
    }
}
@media (max-width:383px) {
    .products .box-container .box .icons .cart-btn 
    {
        font-size: 15px;
    }
}
@media (max-width:341px) {
    .head .logo
    {
        font-size: 15px;
        margin-top: 10px;
    }
    .about .container .image img{
        height: 200px;
    }
}
@media (max-width:339px) {
    .products .box-container .box .icons .cart-btn 
    {
        font-size: 13px;
    }
}
@media (min-width: 578px) and (max-width: 764px) {
    .about .style b 
    {
        display: grid;
        justify-content: space-around;
    }
}
@media (max-width:384px) {
    .products .box-container .box .icons .cart-btn {
        font-size: 12px;
    }
}
