@font-face {
    font-family: 'worksans';
    src: url('static/WorkSans-Regular.ttf') format('truetype');
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    font-family: 'worksans', sans-serif;
}
html 
{
    font-size: 62.5%;
    overflow-x: hidden;
}
section
{
    padding: 20px 9%;
}
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px;
    z-index: 1000;
    width: 100%;
}
header .logo
{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.logo span{
    color: rgb(190, 18, 18);
}
.logo:hover
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(190, 18, 18);
}


/* navigation */
 .navbar a{
    font-size: 20px;
    padding: 0 15px;
    color: #fff;
}
 .navbar a:hover 
{
    color: rgb(190, 18, 18);
    transition: .2s linear;
}
 .navbar a:focus
{
    color: rgb(190, 18, 18);
}
.icons a
{
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
}
 .icons  a:hover
{
   color: rgb(190, 18, 18);
   transition: .2s linear;
}
 .icons a:focus
{
    color: rgb(190, 18, 18);
}

/* menu */
header #toggler 
{
    display: none;
}
header .fa-bars 
{
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
    display: none;
}


/* presentation */
.products{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image/font-sn.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.products .container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    color: #fff;
}
.products .container p{
    color: #fff;
    font-size: 18px;
}
.products .container h2{
    color: rgb(190, 18, 18);
    font-size: 70px;
}
.products .container h4{
    color: rgb(179, 179, 179);
    font-size: 20px;
    margin-bottom: 15px;
}
.products .container span{
    color: #fff;
}
.products .container a{
    color: #fff;
    background: rgb(190, 18, 18);
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(190, 18, 18);
    border-radius: 10px;
    font-size: 20px;
    box-shadow:  0 0 10px rgb(190, 18, 18);
    margin-top: 10px;
}
.products .container a:hover{
    background: transparent;
}

/* about */
.about 
{
    background: #fff;
    font-size: 17px;
    padding: 15px;
    padding-bottom: 10%;
    padding-top: 5%;
}
.about .container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin: 30px;
}
.about .content{
    position: relative;
    background: white;
    border-radius: 20px;
}

.about .container .content .content2{
    margin-right: 20px;
}
.about .container h2{
    color: rgb(190, 18, 18);
    font-size: 35px;
    font-weight: 400;
}
.about .container p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
}
.about .container .content2{
    margin-bottom: 25%;
}
.image-container {
    position: relative;
    width: 1700px;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50px;
}
.about .container .content{
    margin-right: 100px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 50px;
}
.image-container:hover .overlay {
    opacity: 1;
}
.image-container p{
    color: #fff;
}
.about a{
    color: rgb(190, 18, 18);
    background: black;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000;
    border-radius: 50px;
}
.about .container .content .btn{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.about a:hover{
    color: #fff;
    background: rgb(190, 18, 18);
    box-shadow: 0 5px 15px rgb(190, 18, 18);
    border: 1px solid rgb(190, 18, 18);
}
 .overlay a{
    margin-top: 5%;
}
.about2{
    background: #000;
    padding-bottom: -20%;
}
.about2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.about2 .image img{
    width: 540px;
    height: 540px;
    object-fit: cover;
    
}
.about2 .container .content p{
    color: #fff;
    font-size: 20px;
}
.about2 .container .content h2{
    color: rgb(190, 18, 18);
    font-size: 25px;
}
.plus{
    color: #fff;
    background: rgb(190, 18, 18);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
}
.plus:hover{
    background-color: transparent;
    border: 1px solid rgb(190, 18, 18);
    box-shadow: 0 0 15px rgb(190, 18, 18);
}



.employeer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    padding-bottom: 7%;
}
.employeer .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px 10px 10px 10px;
}
.employeer .box-container .empty{
    align-items: center;
    text-align: center;
    flex:  1 1 100px;
    box-shadow: 0 0 15px black;
    padding: 20px 30px 20px 30px;
    border-radius: 10px 10px 10px 10px;
}
.employeer .box-container .empty:hover{
    transform: scale(1.01);
}
.employeer .box-container .empty  img{
    border: 4px solid rgb(190, 18, 18);
    border-radius: 500px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    outline: 5px solid #000;
    margin-bottom: 5px;
}
.employeer .box-container .empty p{
    font-size: 15px;
    margin-top: 5px;
}
.employeer .box-container .empty h2{
    font-size: 17px;
    color: rgb(190, 18, 18);
}
.employeer .box-container .empty i{
    font-size: 20px;
    margin-bottom: 10px;
    margin: 5px;
    cursor: pointer;
}
.employeer .box-container .empty a{
    margin-top: 4%;
    color: #000;
    font-size: 11px;
}
.employeer .box-container .empty a:hover{
    color: rgb(190, 18, 18);
}
.employeer .box-container .empty .image:hover{
   box-shadow: 0 0 30px rgb(190, 18, 18);
}
.employeer .box-container .empty i:hover{
    color: rgb(190, 18, 18);
}
h1{
    color: #000;
    margin-bottom: 25px;
    margin-left: 42%;
    font-size: 25px;
}
 span{
    color: rgb(190, 18, 18);
}



.progress .box-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.progress .container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.progress .box-container .content, .content2, .content3, .content4{
    position: relative;
}
.progress .box-container .content .img1{
    width: 470px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 0 0 0;
    display: block;
}
.progress .box-container .content2 .img2{
    border-radius: 0 20px 0 0;
    display: block;
    height: 400px;
    width: 102.5%;
    object-fit: cover;
}
.progress .container .content3 .img3{
    border-radius: 0 0 0 20px;
    display: block;
}
.progress .container .content4 .img4{
    width: 470px;
    height: 400px;
    object-fit: cover;
    border-radius: 0 0 20px 0;
    display: block;
}
.progress .container{
    margin-top: -5px;
}
.style{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* fond semi-transparent */
    color: #fff;
    width: 100%;
    padding: 175px;
    border-radius: 20px 0 0 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.style1{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* fond semi-transparent */
    color: #fff;
    width: 100%;
    padding: 162px;
    border-radius: 20px 0 0 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.style i{
    color: #fff;
    font-size: 50px;
}
.style1 h2{
    color: #fff;
    font-size: 20px;
}

.style1  a{
    color: rgb(190, 18, 18);
    background: black;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000;
    border-radius: 50px;
}
.style1 a:hover{
    color: #fff;
    background: rgb(190, 18, 18);
    box-shadow: 0 5px 15px rgb(190, 18, 18);
    border: 1px solid rgb(190, 18, 18);
}
.progress .style1 .btn {
   margin-top: 5%;
}
.content:hover .style{
    opacity: 1;
}
.content2:hover .style1{
    opacity: 1;
    border-radius: 0 20px 0 0;
}
.content3:hover .style1{
    opacity: 1;
    border-radius: 0 0 0 20px;
}
.content4:hover .style{
    opacity: 1;
    border-radius: 0 0 20px 0;
}



.footer
{
    background: #eee;
    padding-top: 3%;
}
.footer .container
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.footer .container .list{
    flex:1 1 300px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.footer .container .list h3{
    color: rgb(190, 18, 18);
    font-size: 18px;
}
.footer .container .list a{
    color: #000;
    font-size: 15px;
    display: block;
    padding: 5px 0;
}
.footer .container .list a:hover{
    color: rgb(190, 18, 18);
    text-decoration: underline;
    transition: 1.5s;
}
.footer .container .list .help{
    margin-right: 5%;
}
.footer .foot {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer .foot a{
    font-size: 14px;
}
.footer .foot a:hover{
    color: rgb(190, 18, 18);
}
hr{
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
}



@media (max-width:1247px) {
    .about .container .image-container {
        width: 2500px;
    }
    .products{
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    .employeer .box-container .empty:hover{
        margin-bottom: 0;
    }
    .progress .box-container .content2 .img2{
        width: 100%;
        object-fit: cover;
    }
    .progress .container .content3 .img3{
        width: 100%;
        object-fit: cover;
    }
    .progress .container .content4 .img4{
        width: 100%;
        object-fit: cover;
    }
    .progress .box-container .content .img1{
        width: 100%;
        object-fit: cover;
    }
}
@media (min-width:1077px) and (max-width:1300px) {
    .progress .box-container .content .style{
        padding: 175px;
    }
    .progress .box-container .content2 .style1{
        padding: 140px;
    }
    .progress .container .content3 .style1{
        padding: 152px;
    }
    .progress .container .content4 .style{
        padding: 165px;
    }
}
@media (max-width:1077px) {
    .progress .box-container .content .style{
        display: none;
    }
    .progress .box-container .content2 .style1{
        display: none;
    }
    .progress .container .content3 .style1{
        display: none;
    }
    .progress .container .content4 .style{
        display: none;
    }
}
@media (min-width:700px) and (max-width:1120px) {
    .about .container .content{
        width: 100%;
    }
    .about .container .image-container{
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }
    .about .container .content .btn {
        margin-bottom: 10%;
    }
}
@media (max-width:1120px) {
    .about .container {
        display: grid;
        justify-content: center;
        flex-direction: column;
    }
    html{
        font-size: 55%;
    }
}
@media (max-width:1100px) {
    .about .container {
        display: grid;
        align-items: center;
    } 
}
@media (max-width:991px) {
    html 
    {
        font-size: 60%;
    }
    header {
        padding: 2rem;
    }
    section 
    {
        padding: 2rem;
    }
    .about2 .container{
        display: grid;
        flex-direction: column-reverse;
    }
}
@media (max-width:819px) {
   
    html .fa-bars{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        align-items: center;
        text-align: center;
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-top: 2px solid #fff;
    }
    #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .navbar a 
    {
        margin: 10px;
        padding: 10px;
        display: block;
        background: #fff;
        color: #000;
    }
    html{
        font-size: 60%;
    }
    .products{
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    .overlay{
        font-size: 20px;
    }
    h1 {
      margin-left: 1%;
    }
}
@media (max-width:600px) {
    .about2 .container .image img{
        height: 400px;
        width: 400px;
    }
}
@media (max-width:699px) {
    .about .container .image-container{
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }
    .about .container .content {
        width: 100%;
    }
}
@media (max-width:484px) {
    .products .container a{
        font-size: 15px;
    }
}
@media (max-width:400px) {
    .about .container .overlay h2{
        font-size: 20px;
    }
    .about .container .overlay p{
        font-size: 10px;
    }
}
@media (max-width:430px) {
    .about2 .container .image img{
        height: 280px;
        width: 280px;
    }
}
@media (max-width:450px) {
    html {
        font-size: 60%;
    }
    .head .logo
    {
        font-size: 22px;
        margin-top: 5px;
    }
    .products .container h2 {
        font-size: 50px;
    }
}
@media (max-width:341px) {
    .head .logo
    {
        font-size: 15px;
        margin-top: 10px;
    }
}