@font-face {
    font-family: 'worksans';
    src: url('static/WorkSans-Regular.ttf') format('truetype');
}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
    font-family: 'worksans', sans-serif;
}
html 
{
    font-size: 62.5%;
    overflow-x: hidden;
}
section
{
    padding: 20px 9%;
}
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px;
    z-index: 1000;
    width: 100%;
}
header .logo
{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.logo span{
    color: rgb(190, 18, 18);
}
.logo:hover
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(190, 18, 18);
}


/* navigation */
 .navbar a{
    font-size: 20px;
    padding: 0 15px;
    color: #fff;
}
 .navbar a:hover 
{
    color: rgb(190, 18, 18);
    transition: .2s linear;
}
 .navbar a:focus
{
    color: rgb(190, 18, 18);
}
.icons a
{
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
}
 .icons  a:hover
{
   color: rgb(190, 18, 18);
   transition: .2s linear;
}
 .icons a:focus
{
    color: rgb(190, 18, 18);
}

/* menu */
header #toggler 
{
    display: none;
}
header .fa-bars 
{
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
    display: none;
}



.home {
    padding: 20px 9%;
    margin-top: 70px;
    display: flex;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/adidas\ wap.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
}  
.home .fa-list
{
    font-size: 30px;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
    display: block;
}
.home .nav1{
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    display: flex;
    font-size: 15px;
    color: #000;
    padding: 0 15px;
}
.home .nav1 a:hover {
   color: rgb(190, 18, 18);
   border-radius: 50px;
   background: #000;
}
.home .nav1 a:focus{
    color: rgb(190, 18, 18);
}
.home #tog{
    display: none;
}
.home .lead {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.home .lead a{
    font-size: 20px;
}
.home .lead .compte a{
   border-radius: 10px;
   background: #000;
   padding: 10px 20px 10px 20px;
   color: #fff;
   color: rgb(190, 18, 18);
}
.home .lead .compte a:hover{
    color: #fff;
    background: rgb(190, 18, 18);
    box-shadow: 0 0 10px rgb(190, 18, 18);
}
.home .lead .compte a:focus{
    color: #fff;
    background: rgb(190, 18, 18);
    box-shadow: 0 0 10px rgb(190, 18, 18);
}
.home .lead .style-type {
    color: #000;
    font-size: 25px;
    font-weight: bolder;
}
.home .lead .compte .fa-phone, .fa-user{
    color: #fff;
}

/* produits */
.products
{
    background: #fff;
}
.products .box .icons a{
    color: #000;
    font-size: 20px;
}
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.products .box-container .box{
    position: relative;
    flex: 1 1 300px;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.products .box-container  .box .discount{
   top: 10px;
   left: 10px;
   padding: 4px 18px;
   font-size: 20px;
   color: rgb(190, 18, 18);
   background-color: #000;
   z-index: 1;
   border-radius: 5px;
   clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0% 100%, 0% 50%, 0 0);
}
.products .box-container  .box .image1{
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container  .box:hover .image1 img{
    transform: scale(1.1);
}
.products .box-container  .box .image1 .icons  {
    bottom: -70px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 50px;
    background: rgb(190, 18, 18);
    width: 100%;
    position: relative;
}
.products .box-container  .box:hover .image1 .icons{
    bottom: 0;
}
.products .box-container  .box .image1 .icons a{
   line-height: 50px;
   color: #fff;
}
.products .box-container  .box .image1 .icons .cart-btn{
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.products .box-container  .box .image1 .icons a{
    margin-right: 5px;
}
.products .box-container  .box .image1 .icons a:hover{
    color: #000;
}
.products .box-container  .box .content {
    padding: 20px;
    text-align: center;
}
.products .box-container  .box .content h3{
    font-size: 20px;
    color: #000;
}
.products .box-container  .box .content .price{
    font-size: 20px;
    color: rgb(190, 18, 18);
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container  .box .content .price span{
    font-size: 10px;
    color: rgb(14, 11, 11);
    font-weight: lighter;
    text-decoration: line-through;
}
.products h1
{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.products .heading span{
    color: rgb(190, 18, 18);
}


/* footer */
.footer
{
    background: #eee;
    padding-top: 3%;
}
.footer .container
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.footer .container .list{
    flex:1 1 300px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.footer .container .list h3{
    color: rgb(190, 18, 18);
    font-size: 18px;
}
.footer .container .list a{
    color: #000;
    font-size: 15px;
    display: block;
    padding: 5px 0;
}
.footer .container .list a:hover{
    color: rgb(190, 18, 18);
    text-decoration: underline;
    transition: 1.5s;
}
.footer .container .list .help{
    margin-right: 5%;
}
.footer .foot {
    margin-left: 45%;
}
.footer .foot a{
    font-size: 14px;
}
.footer .foot a:hover{
    color: rgb(190, 18, 18);
}
hr{
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
}





@media (max-width:1500px) {
   
    html .fa-list{
        display: block;
    }
    .nav1{
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-top: 2px solid #fff;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.4);
        top: 100%;
        right: 0;
        left: 0;
        align-items: center;
        text-align: center;
        border: 1px solid #000;
        border-radius: 20px;
        transition: .7s linear;
        color: #fff;
    }
    #tog:checked ~ .nav1{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .nav1 a 
    {
        margin: 10px;
        padding: 10px;
        display: block;
        background: transparent;
        color: #fff;
    }
    html{
        font-size: 60%;
    }
    .home{
        padding: 2rem;
    }
    .home .lead{
        width: 100%;
    }
}
@media (max-width:991px) {
    html 
    {
        font-size: 60%;
    }
    header {
        padding: 2rem;
    }
    section 
    {
        padding: 2rem;
    }
    .footer .foot {
        margin-left: 45%;
    }   
    .home .nav1 a{
        width: 100%;
    }
    
}
@media (max-width:951px) {
    .home .lead .compte .ih{
        font-size: 15px;
    }
    .home .lead .compte .ak{
        font-size: 15px;
    }
}
@media (max-width:910px) {
    .about .container {
        display: grid;
        justify-content: space-between;
    }
    .about .container .image {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
}
@media (max-width:819px) {
   
    html .fa-bars{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        align-items: center;
        text-align: center;
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-top: 2px solid #fff;
    }
    #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .navbar a 
    {
        margin: 10px;
        padding: 10px;
        display: block;
        background: #fff;
        color: #000;
    }
    html{
        font-size: 60%;
    }
    .home .lead .compte .ih{
        display: none;
    }
}
@media (max-width:742px) {
    .home .lead a{
        font-size: 15px;
    }
    .home .lead .style-type{
        font-size: 17px;
        margin-top: 5px;
    }
}
@media (max-width:634px) {
    .home .lead a{
        font-size: 12px;
        
    }
    .home .lead .style-type{
        font-size: 14px;
        margin-top: 5px;
    }
}
@media (max-width:600px) {
    
}
@media (max-width:570px) {
    .home .nav1 a{
        font-size: 12px;
    }
}
@media (max-width:548px) {
    .home .lead .style-type
    {
        font-size: 15px;
    }
}

@media (max-width:450px) {
    html {
        font-size: 60%;
    }
    .head .logo
    {
        font-size: 22px;
        margin-top: 5px;
    }
     .home .lead .compte .ak{
        display: none;
    }
    .home .lead .style-type
    {
        display: none;
    }
    .products .container h2 {
        font-size: 50px;
    }
}
@media (max-width:345px) {
      html {
        font-size: 55%;
    }
    .head .logo
    {
        font-size: 17px;
        margin-top: 7px;
    }
}
@media (max-width:610px) {
    .footer .foot{
        margin-left: 35%;
    }
}
@media (max-width:384px) {
    .products .box-container .box .icons .cart-btn {
        font-size: 12px;
    }
}